/plugins/advanced-custom-fields
/plugins/cookie-law-info
/plugins/hummingbird-performance
/plugins/smartcrawl-seo
/plugins/users-customers-import-export-for-wp-woocommerce
/plugins/wordpress-importer
/plugins/wordpress-seo
/plugins/wp-scss
/plugins/wp-smushit
/plugins/index.php

/upgrade
/uploads
/output
/wphb-cache
/wphb-logs

index.php
exluded.txt
index.php
advanced-cache.php
themes/index.php

/plugins/damex-block/node_modules
/plugins/damex-block/dist
/themes/damex/assets/src/dist
/themes/damex/assets/css
/themes/damex/assets/src/node_modules
plugins/simple-tags/
plugins/wp-mail-smtp/
themes/twentynineteen/
themes/twentytwenty/
themes/twentytwentyone/
