@import './colors.scss';
@import './z-index.scss';
$menu-item-border: 2px solid $font-default;

#wpadminbar {
  display: none;
}


/* ============================================================ 
    Header component.
   ============================================================ */
#header {
  @include z-index(header);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  background-color: $white;
  box-shadow: $box-shadow;
}

.header__content {
  display: flex;
  align-items: center;
  height: 100%;
}

/* ============================================================ 
    Top bar mail address and phone number.
   ============================================================ */
.header__top-bar {
  display: none;
}

.top-bar__address {
  flex: 1;
}

.top-bar__phone-number,
.top-bar__address {
  cursor: pointer;
}

.top-bar__icon {
  padding-right: 7px;
}

/* ============================================================ 
    Logo.
   ============================================================ */
.logo {
  height: 75%;
  padding-left: 20px;
  cursor: pointer;
}

/* ============================================================ 
    Header menus.
   ============================================================ */
#header .menu {
  display: none;
  flex: 1;
  justify-content: flex-end;
  height: 100%;
  padding-right: unset;
  list-style: none;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  list-style: none;
  background: $white;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
  transition: all 150ms ease-in;
  opacity: 0;
  visibility: hidden;

  padding-inline-start: unset;

  a {
    color: $font-default;
    font-size: 1.05rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
  }
}

.sub-menu--long {
  left: unset;
  width: 500px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  transition: background-color 200ms ease-in;

  &:last-child {
    border-bottom: unset;
  }

  &:hover {
    background-color: rgba(196, 196, 196, 0.2);
    cursor: pointer;
  }
}

.sub-menu-link--long {
  height: 80px;
}

.sub-menu-link__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.sub-menu-link__block span {
  padding: 5px;
}

/* ============================================================ 
    Dropdown items.
   ============================================================ */
.block__header {
  font-size: 1.15rem;
  font-weight: bold;
}

.block__content {
  display: flex;
  padding-left: 6px;
}

.block__content i {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

/* ============================================================ 
    Menu link and hover effect.
   ============================================================ */
.menu-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin: 0 10px;

  &:hover .sub-menu {
    opacity: 1;
    visibility: visible;
  }

  & > a {
    height: 20px;
    color: $font-default;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
    cursor: pointer;
  }

  & > a::before,
  & > a::after {
    position: absolute;
    width: 12px;
    height: 12px;
    content: '';
    transition: all 0.4s;
    opacity: 0;
  }

  & > a::before {
    bottom: 20px;
    left: 20px;
    border-bottom: $menu-item-border;
    border-left: $menu-item-border;
  }

  & > a::after {
    top: 20px;
    right: 20px;
    border-top: $menu-item-border;
    border-right: $menu-item-border;
  }

  & > a:hover::before,
  & > a:hover::after {
    opacity: 1;
  }

  & > a:hover::before {
    bottom: 10px;
    left: 10px;
  }

  & > a:hover::after {
    top: 10px;
    right: 10px;
  }
}

/* ============================================================ 
    Hamburger icon.
   ============================================================ */
#hamburger {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  padding-top: 5px;
  padding-right: 10%;
  cursor: pointer;
}

#hamburger button {
  all: unset;
}

/* ============================================================ 
    Mobile menu.
   ============================================================ */
.menu-overlay {
  @include z-index(menu);
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 45px);
  padding-top: 50px;
  background-color: $white;

  .menu,
  .sub-menu--long {
    margin-block-end: unset;
    margin-block-start: unset;
  }

  .menu {
    flex: 1 1 100%;
  }

  .menu-link {
    align-items: unset;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    min-height: 40px;
    padding: unset;
    margin: 5px 0;

    a {
      position: relative;
    }

    & > a::before,
    & > a::after,
    & > a:hover::before,
    & > a:hover::after {
      all: unset;
    }

    &__icon {
      position: absolute;
      top: 3px;
      right: 55%;
    }
  }

  .sub-menu {
    position: relative;
    display: none;
    box-shadow: unset;
    opacity: 1;
    visibility: visible;;

    &--visible {
      display: block;
    }
  }

  .sub-menu-link {
    width: 100%;
    height: 40px;
    border-bottom: unset;
  }

  .sub-menu--long {
    position: initial;
    top: unset;
    left: unset;
    display: block;
    width: 100%;
    color: #FFFFFF;
    background-color: #000000;
    box-shadow: unset;
    opacity: 1;
    visibility: visible;
  }

  .sub-menu-link--long {
    height: 60px;


    .block__content {
      font-size: 0.8rem;
    }

    .block__header {
      font-size: 0.9rem;
    }
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width: 1024px) {
  .header--edit-mode {
    @include z-index(header);
    box-shadow: unset;
  }


  /* ============================================================ 
    Mobile menu.
   ============================================================ */
  .menu-overlay {
    padding-top: 50px;

    .menu-link a {
      height: 20px;
      transition: unset;;
    }

    .menu-item-has-children a {
      margin: 5px 0;
    }

    .menu-children-visible a {
      margin-top: 10px;
    }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  #header .menu {
    padding-right: unset;
  }

  .menu-link {
    padding: 0 10px;
    margin: 0 5px;
  }

  .menu-link a {
    font-size: 1rem;

    &:hover::before {
      bottom: 25px;
      left: 5px;
    }

    a:hover::after {
      top: 25px;
      right: 5px;
    }

    a::before {
      bottom: 30px;
      left: 0;
    }

    a::after {
      top: 30px;
      right: -0;
    }
  }
}

/* ============================================================ 
    Desktops.
   ============================================================ */
@media only screen  and (min-width : 1224px) {
  #header {
    height: 115px;
  }

  #header .menu {
    display: flex;
    padding-right: 20px;
  }

  .header__content {
    height: 85px;
  }

  .logo {
    height: 85%;
  }

  .header__top-bar {
    display: flex;
    align-items: center;
    flex: 1;
    height: 10%;
    padding: 10px;
    font-size: 0.95rem;
    background: $white;
    border-bottom: 1px solid #D6D6D6;
  }

  .menu-link a {
    &:hover::before {
      bottom: 10px;
      left: 5px;
    }

    &:hover::after {
      top: 10px;
      right: 5px;
    }

    &::before {
      bottom: 15px;
      left: 0;
    }

    &::after {
      top: 15px;
      right: -0;
    }
  }

  #hamburger {
    display: none;
  }
}

