@import './z-index.scss';

* {
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;;
}

#content {
  min-height: 70vh;
  padding-top: 115px;
}

.overlay-container {
  @include z-index(overlay);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  img {
    position: absolute;
    width: auto;
    height: 90%;
  }

  .overlay {
    position: absolute;
  }

  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    background: #000000;
    transition: all 250ms ease-in;
    filter: opacity(0.7);
  }
}

.overlay__close-button,
.overlay__next-button,
.overlay__previous-button {
  all: unset;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: unset;
  border-radius: 50%;
  cursor: pointer;

  i {
    color: #D4D4D4;
    font-size: 2rem;
    transition: color 250ms ease-in;
  }

  &:hover i {
    color: #C5C5C5;
  }
}

.overlay__close-button {
  top: 1rem;
  right: 2rem;
}

.overlay__next-button {
  top: 47%;
  left: 10%;
}

.overlay__previous-button {
  top: 47%;
  right: 10%;
}

.no-content-message__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

.no-content-message__text {
  font-size: 2rem;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  #content {
    min-height: 70vh;
    padding-top: 50px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  #content {
    min-height: 70vh;
    padding-top: 50px;
  }
}

/* Ipads */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  #content {
    min-height: 70vh;
    padding-top: 50px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  #content {
    min-height: 70vh;
    padding-top: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  #content {
    padding-top: 115px;
  }
}

@media only screen and (min-width: 1024px)  and (max-width: 1224px) {
  #content {
    padding-top: 50px;
  }
}

@media only screen and (max-width : 1024px) {
  .overlay-container img {
    width: 90%;
    height: auto;
  }

  .overlay__next-button {
    top: 90%;
    left: 10%;
  }

  .overlay__previous-button {
    top: 90%;
    right: 10%;
  }
}

@media only screen and (min-width : 1024px) {
  .overlay-container img {
    width: auto;
    height: 90%;
  }

  .overlay__next-button {
    top: 47%;
    left: 10%;
  }

  .overlay__previous-button {
    top: 47%;
    right: 10%;
  }
}
