
.blocks-gallery-grid {
  padding: 0 5% !important;
}

table,
th,
td {
  font-size: 0.9rem;
  border: 1px solid #DBDBDB;
  border-collapse: collapse;
  border-spacing: unset;
}

tr {
  height: 50px;;
}

td {
  padding: 5px;
}

tr:first-child {
  font-weight: bold;;
}


tr:nth-child(even) {
  background: #F5F5F5;
}

tr:nth-child(odd) {
  background: #FFFFFF;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  table,
  th,
  td {
    font-size: 0.7rem;
  }
}
