.wp-block-table {
  padding: 0 5%;
}

table,
th,
td {
  font-size: 0.9rem;
  border: 1px solid #DBDBDB;
  border-collapse: collapse;
  border-spacing: unset;
}

tr {
  height: 50px;;
}

td {
  padding: 5px;
}

tr:first-child {
  font-weight: bold;;
}


tr:nth-child(even) {
  background: #F5F5F5;
}

tr:nth-child(odd) {
  background: #FFFFFF;
}

@media only screen and (min-width : 1224px) {
  .wp-block-table {
    padding: 0 10%;
  }
}
